openapi: 3.0.1
info:
  title: Diabotical API
  description: This is the unofficial documentation of the Arena FPS game 'Diabotical'. This API is used in-game.
  version: '0.1'
servers:
  - url: 'https://www.diabotical.com'
paths:
  /api/v0/stats/leaderboard:
    get:
      tags:
      - Leaderboard
      parameters:
        - name: mode
          in: query
          schema:
            type: string
            enum: [r_macguffin, r_wo, r_rocket_arena_2, r_shaft_arena_1, r_ca_2, r_ca_1]
        - name: offset
          in: query
          schema:
            type: string
          example: '0'
      responses:
        '200':
          description: A paginated leaderboard
  /api/v0/users/{userID}:
    get:
      tags:
      - User
      parameters:
      - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: A user
  /api/v0/users/{userID}/achievements:
    get:
      tags:
      - User
      parameters:
      - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Achievements of user
  /api/v0/users/{userID}/leaderboard:
    get:
      tags:
      - User
      parameters:
      - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Leaderboard positioned on user? Haven't seen it working yet.
  /api/v0/users/{userID}/rating:
    get:
      tags:
      - User
      parameters:
      - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: User rating
  /api/v0/users/{userID}/match:
    get:
      tags:
      - User
      parameters:
        - $ref: '#/components/parameters/UserID'
        - name: for
          in: query
          schema:
            type: string
          example: last
      responses:
        '200':
          description: Last match of user
  /api/v0/users/{userID}/matches:
    get:
      tags:
      - User
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Last 15 matches, doesn't seem to be paginated
  /api/v0/users/{userID}/mainstats:
    get:
      tags:
      - User
      parameters:
        - $ref: '#/components/parameters/UserID'
        - name: for
          in: query
          schema:
            type: string
          example: alltime
      responses:
        '200':
          description: Stats of user
  /api/v0/users/{userID}/stats:
    get:
      tags:
      - User
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Stats of user
  /api/v0/match/{matchID}:
    get:
      tags:
      - Match
      parameters:
        - $ref: '#/components/parameters/MatchID'
      responses:
        '200':
          description: Match data
components:
  parameters:
    MatchID:
        in: path
        name: matchID
        required: true
        schema:
          type: string
          example: 6a69a60b-6812-4588-aba6-d4db43cafae3
        description: The ID of a match.
    UserID:
        in: path
        name: userID
        required: true
        schema:
          type: string
          example: 9a1c62de13ef40d69442a891b55a21fb
        description: The ID of a user. Your own ID can be found in "C:\Users\<Your name>\AppData\Roaming\Diabotical\uuid.txt".
